.card {
    position: relative;
    width:25%;
    padding: 20px 30px;
    
}

.card--content {
    background-color:#FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding: 20px 30px;
    position:relative    
}

.card--buy-blue {
    position: absolute;
    top: 20px;
    right: 25px;
    width:42px;
    
}

.card--buy-black {
    background-color: #616161;
    opacity: 0.8;
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor:default;
}

.card--separator {
    border-bottom: 2px solid #D9D9D9;
    margin:10px 0 20px 0;
}

.card--category {
    font-size: 18px;
    line-height: 20px;
    color: #A3A3A3;
    letter-spacing:0.5px;
    padding-bottom: 5px;
}

.card--name {
    font-size: 20px;
line-height: 23px;
letter-spacing:0.5px;
color: #616161;
}

.card--hover {
    background-color: #0ad2fad3;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 0;
    width: 82%;
    height: 90%;
    margin: 20px 30px;
    
}

.card--hover-price {
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 50px;
}

.card--hover-buy-white {
    width: 47px;
    align-self: flex-end;
    margin:20px 25px 0 0;
}

.card--hover-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--hover-coin {
    margin-left: 10px;
    margin-top: 50px;
}

.card--hover-button {
    width: 187px;
    background-color: white;
    color: #616161;
    border-radius: 20.5px;
    border:none;
    height: 42px;
 font-size: 18px;
 align-self: center;
 margin-top: 10px;
 cursor: pointer;

}

.hidden {
    visibility: hidden;
}