.history--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 20px 0
}

.history--list-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
     border: solid 0.5px #eeeeee; 
    margin: 10px 0;
}

.history--list-item-img {
    width: 150px;
}

.history--list-item-button {
    cursor: default;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history--footer {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}