.header {
    display: flex;
    justify-content: space-between;
    margin:2px 25px;
    height:50px;
    
}

.header--right {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.header--logo {
    width:35px;
}

.header--user {
    font-size: 18px;
    font-weight: normal;
    padding-right: 20px;

}