.header {
    display: flex;
    justify-content: space-between;
    padding:2px 25px;
    height:50px;
    position: fixed;
    z-index:1;
    background-color: #fffffff3;
    width: 100%;
    top: 0;
    left:0;
}

.header--right {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.header--logo {
    width:35px;
}

.header--user {
    font-size: 18px;
    font-weight: normal;
    padding-right: 20px;
    margin-left:50px;

}

.header--products, .header--history, .header--more-points {
    text-decoration: none;
    font-size: 18px;
    color: #313131;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;
}

.header--products:hover, .header--history:hover, .header--more-points:hover {
    color:#0ad2fa;
}

.header--button {
    cursor:default!important;
}